body {
	padding: 50px;
}

.styledSelectList {
	border: 1px solid black;
	width: 200px;
	-moz-border-radius: 10px;
}

.styledSelectList.focused {
	-moz-box-shadow: 0px 0px 10px #000;
}

.styledSelectList > div {
	background-color: #DDD;
	cursor: pointer;
	padding: 1px 8px;
	overflow: hidden;
	-moz-border-radius: 10px;
	outline-style: none;
	position: relative;
}

.styledSelectList > div:after {
	content: '';
	width: 0px;
	height: 0px;
	border: 7px solid transparent;
	border-top-color: #000;
	position: absolute;
	top: 7px;
	right: 8px;
}

.styledSelectList > ul {
	border: 1px solid black;
	/*border-top-style: none;*/
	max-height: 200px;
	overflow: auto;
	background-color: #FFF;
	outline-style: none;
	-moz-box-shadow: 0px 0px 5px #000;
}

.styledSelectList > ul.upperPosition {
	/*border-top-style: solid;
	border-bottom-style: none;*/   
}

.styledSelectList > ul > li {
	cursor: pointer;
	padding: 1px 5px;
	overflow: hidden;
}

.styledSelectList > ul > li:hover {
	background-color: rgba(200, 200, 200, 0.5);
}

.styledSelectList > ul > li.selected {
	background-color: yellow;
}