body {
	padding: 50px;
}

.styledSelectList {
	border: 1px solid black;   
}

.styledSelectList > div {
	background-color: #F00;   
}

.styledSelectList > ul {
}

.styledSelectList > ul > li {
	cursor: pointer;
}

.styledSelectList > ul > li:hover {
	background-color: rgba(200, 200, 200, 0.5);
}