body {
	padding: 50px;
}

.styledSelectList {
	border: 1px solid black;
	width: 200px;
}

.styledSelectList.focused {
	border-style: dotted;    
}

.styledSelectList > div {
	background-color: #F00;
	cursor: pointer;
	padding: 1px 5px;
	overflow: hidden;
}

.styledSelectList > ul {
	border: 1px solid black;
	border-top-style: none;
	max-height: 200px;
	overflow: auto;
	background-color: #FFF;
}

.styledSelectList > ul > li {
	cursor: pointer;
	padding: 1px 5px;
	overflow: hidden;
}

.styledSelectList > ul > li:hover {
	background-color: rgba(200, 200, 200, 0.5);
}

.styledSelectList > ul > li.selected {
	background-color: yellow;
}